{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block content %}

<div class="page">

    <h1 class="title">Settings</h1>

    <div class="settings">
        <h2>Text</h2>
        <p>This will be a drop down holding a choice of three fonts: classic, serif, and dyslexia friendly</p>

        <h2>Colour contrast</h2>
        <p>This will be a switch for colour contrast</p>

        <h2>Zoom</h2>
        <p>This will be a sliding bar increasing and decreasing the size of the text on screen</p>

        <h2>Our Loyalty Scheme</h2>
        <p>Our Loyalty scheme gives you points everytime you place an order.<br>If you reach 1000 points, this will then give you a<br>10% discount for your next perchase! Keep track of your<br>points in the user dashboard. Enjoy!</p>
    </div>
</div>

{% endblock %}